body {
  margin:0;
  display:flex;
  font-family: Roboto, sans-serif;
  flex-direction: column;
}

.firstsection{
  background-color:#1F2937;
}

.header{
  display:flex;
  align-items: center;
  margin:10px;
  justify-content: space-between;
  font-size:18px;
}

.logo{
  color: #F9FAF8;
  font-size:24px;
  font-weight: bold;
}

.links{
  display:flex;
  list-style-type:none;
  margin:0;
  padding:0;
  gap:10px;
}

.links a {
  color: #E5E7EB;
  text-decoration: none;
}

.body{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:100px;
  margin-left:400px;
  margin-right:400px;
  gap:200px;
}

.maintext{
  align-self: center;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  padding: 0;
  margin: 0;
}

.secondarytext{
  color: #E5E7EB;
}

.signupbutton {
  background-color: #3882F6;
  color: #E5E7EB;
  font-weight: 900;
  padding: 5px 20px;
  border-radius: 5px;
  border: 0;
}

.kaiju{
  height:250px;
}

.secondsection{
  margin:100px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin-top: -50px;
  text-align: center;

}

.nftcontainers{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
}

.image{
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  border: solid #3882F6;
}
.collection{
  text-align:center;
  
}

.quote{
  text-align:center;
  color:#1F2937;
  font-style:italic;
  font-size: 36px;
  padding-left: 400px;
  padding-right:400px;
  margin: 100px;
}

.thirdsection{
  background-color:#E5E7EB;
}