body {
  padding: 0;
  margin: 0;
  background: #1F2937;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.logo {
    color:#F9FAF8;
    font-size:24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
  }

ul {
    list-style-type: none;
    display:flex;
    padding:0;
    margin:0;
    gap:16px;
    font-size:18px;
  }

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

.subtext{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:  32px;
}

.subleft,.subright{
  flex: 1 1 0;
}

.maintext{
  font-size:48px;
  font-weight:bolder;
  color:#F9FAF8;
  
}
.secondarytext{
  font-size:18px;
  color:#E5E7EB;
}
.signupbutton{
  background-color:#3882F6;
  color:#F9FAF8;
}




/*  background-color:#E5E7EB;
